In [151]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score, confusion_matrix, roc_curve, plot_roc_curve
from category_encoders.one_hot import OneHotEncoder

In [122]:
#importando os dados

data_train = pd.read_csv('train.csv') 
data_test = pd.read_csv('test.csv')

O data_test é utilizado só para submissão do modelo na plataforma kaggle, como se fossem dados novos

In [123]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [124]:
data_train['Sex'] = np.where(data_train['Sex'] == 'female', 1, 0)

In [125]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [126]:
data_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [127]:
data_train.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [128]:
data_train.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [129]:
features = ['Pclass', 'Sex', 'Age', 'SibSp',
       'Parch','Fare', 'Embarked']
labels = ['Survived']

In [130]:
data_train['Age'].fillna(-1, inplace=True)

In [131]:
moda = data_train['Embarked'].mode()
moda

0    S
Name: Embarked, dtype: object

In [132]:
data_train.Embarked.fillna('S', inplace=True)

In [133]:
data_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [134]:
X = data_train[features]
y = data_train[labels]

In [135]:
#antes de qualquer preprocessamento dividir em treino e teste.

In [136]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=0)

In [137]:
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((623, 7), (268, 7), (623, 1), (268, 1))

In [138]:
#tratando as variáveis categóricas no treino
encoder = OneHotEncoder(cols='Embarked', use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_S,Embarked_C,Embarked_Q
857,1,0,51.0,0,0,26.5500,1,0,0
52,1,1,49.0,1,0,76.7292,0,1,0
386,3,0,1.0,5,2,46.9000,1,0,0
124,1,0,54.0,0,1,77.2875,1,0,0
578,3,1,-1.0,1,0,14.4583,0,1,0
...,...,...,...,...,...,...,...,...,...
835,1,1,39.0,1,1,83.1583,0,1,0
192,3,1,19.0,1,0,7.8542,1,0,0
629,3,0,-1.0,0,0,7.7333,0,0,1
559,3,1,36.0,1,0,17.4000,1,0,0
684,2,0,60.0,1,1,39.0000,1,0,0

In [139]:
#tratando variável categórica no teste
X_val = encoder.transform(X_val) 
X_val.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_S,Embarked_C,Embarked_Q
495,3,0,-1.0,0,0,14.4583,0,1,0
648,3,0,-1.0,0,0,7.5500,1,0,0
278,3,0,7.0,4,1,29.1250,0,0,1
31,1,1,-1.0,1,0,146.5208,0,1,0
255,3,1,29.0,0,2,15.2458,0,1,0

In [140]:
modelo_lr= LogisticRegression()
modelo_lr.fit(X_train,y_train)

c:\Users\nrodr\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\nrodr\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [143]:
previsao = modelo_lr.predict(X_val)
accuracy_score(y_val, previsao)

0.8022388059701493

In [144]:
f1_score(y_val, previsao)

0.7363184079601991

In [146]:
confusion_matrix(y_val, previsao)

array([[141,  27],
       [ 26,  74]], dtype=int64)

In [147]:
precision_score(y_val, previsao)

0.7326732673267327

In [148]:
recall_score(y_val,previsao)

0.74