In [216]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

In [217]:
data = pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [218]:
data.shape

(891, 12)

In [219]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [220]:
data.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [221]:
#transformar a váriavel sexo para binário

data.Sex = np.where(data['Sex'] == 'female', 1, 0)

In [222]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [223]:
moda= data.Embarked.mode()
moda

0    S
Name: Embarked, dtype: object

In [224]:
data.Embarked.fillna('S', inplace=True)

In [225]:
# data.Age.fillna(-9999, inplace=True)

In [226]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [227]:
features = ['Pclass','Sex', 'Age', 'SibSp',
       'Parch','Fare', 'Embarked']
labels = ['Survived']

In [228]:
X  = data[features]
y = data[labels]

In [229]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [230]:
var_categorica = ['Embarked']
var_numerica_continua = ['Fare']
var_num = ['Age']

In [231]:
t = ([
    ('var_numeric', StandardScaler(), var_numerica_continua),
    ('var_categorica', OneHotEncoder(), var_categorica),
    ('impute',SimpleImputer(strategy='median'), var_num)
])

preprocessor = ColumnTransformer(transformers=t)

In [232]:
pipe_transform = Pipeline(steps=[('preprocessor', preprocessor), ('model_lr', LogisticRegression())])

In [233]:
pipe_transform.fit(X_train, y_train)

c:\Users\nrodr\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('var_numeric',
                                                  StandardScaler(), ['Fare']),
                                                 ('var_categorica',
                                                  OneHotEncoder(),
                                                  ['Embarked']),
                                                 ('impute',
                                                  SimpleImputer(strategy='median'),
                                                  ['Age'])])),
                ('model_lr', LogisticRegression())])

In [234]:
y_pred = pipe_transform.predict(X_test)

In [235]:
from sklearn.metrics import mean_absolute_error, f1_score, recall_score, precision_score, accuracy_score,mean_squared_error

In [236]:
print(f'Accuracy: {round(accuracy_score(y_test, y_pred)*100, 3)}%')
print(f'RMSE: {round(np.sqrt(mean_squared_error(y_test, y_pred))*100, 2)}%')
print(f'F1 Score: {round(f1_score(y_test,y_pred)*100, 3)}%')
print(f'Recall Score: {round(recall_score(y_test, y_pred)*100, 3)}%')
print(f'Precision Score : {round(precision_score(y_test, y_pred)*100,3 )}%')

Accuracy: 71.269%
RMSE: 53.6%
F1 Score: 46.154%
Recall Score: 33.0%
Precision Score : 76.744%